body    {
    background-color: rgb(253, 231, 249);
    margin: 0;
    font-family: sans-serif;
}

.NavBar{
    background-color: #512676;
    color: rgb(255, 255, 255);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    position: fixed;
    width: 100%;
    height: 70px;
    z-index: 1000;
    margin-top: 0px;
    display: flex;
    justify-content: space-around;
}

.NavBar h1{
    margin-left: 0px;
    width: 160px;
    margin-top: 15px;
    font-size: 24px;
    background-color:#512676;
}

.NavBar input{
    border-radius: 15px;
    color: #170b21;
    font-weight: bold;
    font-size: 16px;
    border: none;
    padding-left: 20px;
    width: 600px;
    height:60%;
    margin-top: 12px;
    background-color:  rgb(253, 231, 249);
}

.NavBar button{
    background-color:#cc227b;
    color: white;
    width: 200px;
    height: 60%;
    border: none;
    border-radius: 15px; 
    font-size: 16px;
    cursor: pointer;
    margin-top: 14px;
    font-weight: bold;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}


.Courses {
    display: inline-block;
    /* margin: 10px  0 10px 0; */
    margin-top: 60px;
    width: 400px;
    background-color: rgb(254, 247, 255);
    border-radius: 10px;
    height: 430px;
    box-shadow: 2px 2px 10px rgb(182, 182, 182) ;
    transition: transform 0.2s ease;
}

.Courses:hover {
  transform: scale(1.03);
}

.Courses  img{
    width: 100%;
    border-radius: 10px 10px 0px 0px;
}

.Courses  h1{
    background-color: rgb(254, 247, 255);
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: center;
    font-family:sans-serif;
}
.Courses h3{
    background-color: rgb(254, 247, 255);
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: center;
    font-family:sans-serif;
}

.Courses p{
    background-color: rgb(254, 247, 255);
    margin-top: 0px;
    text-align: center;
    font-family:udemy,sans-serif;
}



.info{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 20px;
    width: 100%;
    box-sizing: border-box;
    width: 100%;
    background-color: rgb(254, 247, 255);
    
}
.info img{
    width: 70px;
    border-radius: 50%;
    border: 1px solid rgb(200, 200, 200);
}

#Disc{
    background-color:#512676;
    
    color: white;
    width: 100px;
    height: 60px;
    border: none;
    padding: 10px 10px;
    border-radius: 50px;
    font-size: 16px;
    cursor: pointer;
    margin-left: 150px;
    margin-top: 5px;
    margin-left: 20px; 
    font-weight: bold;
}

#Buy{
    background-color:#cc227b;
    color: white;
    width: 100px;
    height: 60px;
    border: none;
    padding: 10px 10px;
    border-radius: 50px;
    font-size: 16px;
    cursor: pointer;
    margin-left: 150px;
    margin-top: 5px;
    margin-left: 20px; 
    font-weight: bold;
}

#Hide{
    background-color:#cc227b;
    color: rgb(255, 255, 255);
    width: 80px;
    height: 60px;
    border: none;
    padding: 10px 10px;
    border-radius: 50px;
    font-size: 30px;
    cursor: pointer;
    margin-left: 150px;
    padding-top: 14px;
    margin-top: 5px;
    margin-left: 20px; 
    font-weight: bold;
}

#Hide :hover{
       
}
